<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorite Songs</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>My Favorite Songs</h1>
  </header>
 <center>  
  <main>
        <a href = "https://youtu.be/M3N06KyK3s0" >
          <img src="https://assets.audiomack.com/sansid2006/ea43d338c0b7ea72ad3edf7c3eecde4fa4748a2fadfa2b2a257f945dda374968.jpeg?width=1000&height=1000&max=true" alt="Song 1" class = "elizabeth">
        </a>
        <br>
        <div>
          <h3>graduation</h3>
          <p>juice wrld</p>
        </div>
        <a href = "https://youtu.be/Yhivl6fln3s" >
          <img src="https://media.pitchfork.com/photos/647ded2d61f08c20acc079e3/1:1/w_320/Baby-Keem-Kendrick-Lamar-The-Hillbillies.jpg" alt="Song 2" class = "elizabeth">
        </a>
        <br>
        <div>
          <h3>the hillbillies</h3>
          <p>baby keem & kendrick lamar</p>
        </div>
      <!-- Add more favorite songs as needed -->
  </main>
 </center>
</body>
</html>