<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <h1>CHOOSE A SONG!</h1>
    <div class="topnav" id = "search">
     <!-- <a class="active" href="#home">Home</a> -->
     <!-- <a href="#about">About</a> -->
     <!-- <a href="#contact">Contact</a> -->
    <input type="text" placeholder="choose a tune...">
    </div>
    <br>
    <button id = "fav">FAVORITS</button>
    <h3>suggestion</h3>
    <button id = "safety_net">the song</button>
    <button id = "undercover">the song</button>
    <button id = "just_my_type">the song</button>
    <button id = "needed">the song</button>
    <button id = "die_hard">the song</button>
    <button id = "XO/the_hosts">the song</button>
    <h3>playlists</h3>
    <button id = "">playlist</button>
    <button id = "">playlist</button>
    <button id = "">playlist</button>
    <button id = "">playlist</button>

</head>
<body>
    
</body>
</html>