<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Heading -->
    <div>
        <h4>
            Create an account!!
        </h4>
    </div>

    <!-- Form -->
    <div>
        <form method="post" action="/signup">
            <!-- username -->
            <lable>Username</label>
            <br>
            <input class="text-input" type = "username" id = "username" name = "username">
            <br>

            <!-- email -->
            <label>Email address*</label>
            <br>
            <input class="text-input" type="email"  name="email" id="emailStr" required>
            <br>

            <!-- password -->
            <label>Password*</label>
            <br>
            <input class="text-input" type="password"  name="password" minlength="6">
            <br>

            <!-- submit -->
            <input type="submit" id = "submit"/>
        </form>
    </div>

    <!-- Go to signin -->
    <div>
        <button id = "button">Go to signin</button>
    </div>
</body>
</html>