body {
	background-color: #4d4d4d;
	font-size: 2em;
	text-align: center;
}

.text-input {
	background: none;
	border: none;
	border-bottom: 2px solid darkred;
	background-color: lightgray;
	width: 250px;
	height: 40px;
	/*border: 5px;
	border-color: yellowgreen;*/
	border-radius: 20px;

}

#button {
	background-color: #ff3300;

}

#submit {
	background-color: #ff3300;
}

#fav {
	background-color: #ff3300;
}